<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/style.css">
  <title>MVC Coding Blog</title>
</head>

<body>
  <header>
     <h4>The</h4> <h1>Solution in Code</h1>
  </header>
  <nav class="navbar">
    <li>
    <li class="li-nav-item"><a href="/login">Home</a></li>
    <li class="li-nav-item"><a href="#" >Profile</a></li>
    <li class="li-nav-item"><a href="#" >Logout</a></li>
    </li>
  </nav>
  <main class="main-section">
    {{{body}}}
  </main>
{{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}

</body>

</html>