<head>
  <meta charset="UTF-8">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
  <link rel="stylesheet" href="/style.css">
  <title>MVC Coding Blog</title>
</head>

<body>
  <header>
     <h4>The</h4> <h1>Solution in Code</h1>
  
  <nav class="navbar">
    <li>
    <li class="li-nav-item"><a href="/">Home</a></li>
    <li class="li-nav-item"><a href="/blog" >Blog</a></li>
      {{#if logged_in}}
        <li class="li-nav-item"><a href="/dashboard">My Dashboard</a></li> |
       <li class="li-nav-item" id="logOut"></li><a href="/blog">Logout</a></li>
        {{else}}
        <li class="li-nav-item"></li><a href="/login">login</a></li>
        {{/if}}
    </li>
  </nav>
  </header>
  <main class="main-section">
    {{{body}}} 
  </main>
{{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}

</body>

</html>