<h3>Latest</h3>

  <div class="column" id="one">
    </div>
   
  <div class="column" id="two">
     </div>
  
  <div class="column" id="three">
  </div>
  <ul class="text">
  <li class="titleA">Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi alias architecto reiciendis cumque cum? </li>
</ul>
  <ul class="text">
    <li class="titleB">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et fuga, laboriosam ab.</li>
  </ul>
   <ul class="text">
    <li class="titleC">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et fuga, laboriosam ab tenetur.</li>
  </ul>

