    <header>
      <h1>The Solution in Code</h1>
    </header>
     <nav class="navbar">
    <ul class="nav-row">
      <li class="li-inline nav-item"><a href="/">Home</a></li>
      <li class="li-inline nav-item"><a href="/dashboard">Dashboard</a></li>
      <li class="li-inline nav-item"><a href="#" id="logout-link">Profile</a></li>
      <li class="li-inline nav-item"><a href="#" id="logout-link">Logout</a></li>
    </ul>
  </nav>
  <div class="main-section">
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Qui culpa quae facilis debitis laborum, inventore delectus iure quam beatae dicta ea et laudantium aspernatur modi fuga repellendus, illum aliquid excepturi?</p>
  </div>
<
