<form action="blog-upload">
<div class="new-blog"></div>
<div class="banner-img">
</form>
</div>
<div class="blog-section"></div>
<div class="banner">
    <input type="file" accept="image/*" id="banner-upload" hidden>
    <label for="banner-upload" class="banner-upload-btn"><i class="fa-solid fa-cloud-arrow-up"></i>
   
</div>

<div class="blog-editor">
    <textarea type="text" class="title" placeholder="Title..."></textarea>
     <textarea type="text" class="name" placeholder="Author's Name..."></textarea>
    <textarea type="text" class="textBlock" placeholder="Start blogging here..."></textarea>
    <button id="publish-btn" type="submit" >Publish</button>
     
</div> 
