 <div class="account-block">
        

        <form class="signup-form">
            <h5>Signup</h5>
            <div class="form-group">
                <input class="form-input" type="text" id="name-signup" placeholder="Name..." />
            </div> <br>
            <div class="form-group">
                <input class="form-input" type="text" id="email-signup" placeholder="Email.." />
            </div> <br>
            <div class="form-group">
                <input class="form-input" type="password" id="password-signup" placeholder="**********" />
            </div> <br>
            <div class="form-group">
                <button class="btn-signup" type="submit">Signup</button>

        </form>
        

        <form class="login-form">
            <h5>Login</h5>
            <div class="form-group">
                <input class="form-input" type="text" id="email-login" placeholder="Email..." />
            </div> <br>
            <div class="form-group">
                <input class="form-input" type="password" id="password-login" placeholder="**********" />
            </div> <br>
            <div class="form-group">
                <button class="btn-login" type="submit">Login</button>
            </div>
        </form>
    </div>
<script src="/public/js/login.js"></script>