:root {
    --primary: #4E8098;
    --secondary: #90C2E7;
    --tertiary: #CED3DC;
    --quatrinary: #FCF7F8;
    /* --light: #BABA8C;
    --dark: #898952; */
    --light: #A26769;
    --dark: #724647;
    --error: rgb(253, 108, 72);
    
  }

  *{
    box-sizing: border-box;
   
  }
  
  body{
    background-color: var(--quatrinary);
  }
  header{
    margin-top: 2px; 
     padding: 3px; 
     background-color: var(--quatrinary);
   
  }

  h4{
    font-size: 25px;
    text-align: center;
    /* justify-content: center; */
    color: var(--primary);
  }
h1{
    font-size: 35px;
    text-align: center;
    color: var(--primary);
   }

   h2{
    font-size: 40px;
    color: white;
   }

   h3{
    font-size: 35px;
    font-weight: 500;
    text-align: center;
    color: var(--secondary);
    text-decoration: underline;
   }

   h5{
    font-size: 25px;
    text-align: center;
    /* justify-content: center; */
    color: var(--primary);
  }
  h6{
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    color: var(--secondary);
  }
 .navbar{
    /* font-weight: 200; */
    font-size: 15px;
    border-bottom: 1px solid var(--primary); 
    /* letter-spacing: 1px; */
    padding: 10px;
    text-align:start;
    word-spacing: 70px;
 }
 .navbar li{
    display: inline;
    
    
 }


   .navbar .li-nav-item a {
    color:var(--primary); 
    text-decoration: none;
    font-size: larger;
     padding-bottom: 10px;
    padding-top: 10px;
   }

   .navbar .li-nav-item a:hover{
    border: 1px solid var(--primary);
    border-bottom:2px solid white;
   }



   .column {
    float: left;
    width: 30%;
    margin-top:1%;
    margin-left: 2%;
    height: 40%;
    border-radius: 20px;
    margin-bottom:2% ;
  }

  .column:hover{
    transform: scale(1.05);
  }
  

  .text{
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 2px;
    word-spacing: 5px;
    list-style-type: none;
    color: var(--primary);
  }
  
  .text .titleA{
    margin-left: 1%;
    width: 30%;
    height: 10%;
    text-decoration: none;
  }

   .text .titleB{
    margin-left: 35%;
    width: 30%;
    height: 10%;
  }

  .text .titleC{
    margin-left: 68%;
    width: 30%;
    height: 10%;

  }
  
   #one {
    margin-right: 1%;
    background-image: url(images/pexels-ash-376464.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    /* padding-bottom: 4%; */
  }
  #two {
    margin-right: 1%;
    background-image: url(images/pexels-christina-morillo-1181359.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }
  #three {
    background-image: url(images/pexels-david-bartus-586687.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .account-block{
    border: 2px solid var(--primary);
    width: 35%;
    height: max-content;
    margin-left: 33%;
    margin-top: 1%;
   background-color: var(--secondary);
   
  }
 .signup-form{
  text-align: center;
 }
 
  .form-input{
  border: 2px solid var(--primary);
  border-radius: 5px;
  font-size: 18px;
  
 }

 .btn-signup{
  width:49%;
  height: 27px;
  background-color: var(--secondary);
  border: 2px solid var(--primary);
  border-radius: 5px;
  color: white;
 }

 .btn-login{
  width:49%;
  height: 27px;
  background-color: var(--secondary);
  border: 2px solid var(--primary);
  border-radius: 5px;
  color: white;
 }

 .btn-signup:hover, .btn-login:hover{
  color: var(--tertiary);
  background-color: blue;
 }

 .banner{
  width: 100%;
  height: 400px;
  position: relative;
  background: var(--primary);
  background-size: cover;
  background-position: center;
}

.banner-upload-btn{
  position: absolute;
  bottom: 20px;
  right: 20px;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: var(--secondary);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}


.blog{
  width: 70vw;
  min-width: 400px;
  height: 100px;
  display: block;
  margin: auto;
  padding: 50px 0;
}


.title,
.textBlock,
.name
{
  width: 100%;
  min-height: 100px;
  height: auto;
  outline: none;
  font-size: 50px;
  font-weight: 600;
  color: #2d2d2d;
  resize: none;
  border: 2px solid var(--secondary);
  padding: 10px;
  border-radius: 10px;
}

.title::placeholder,
.textBlock::placeholder,
.name::placeholder
{
  color: #2d2d2d;
}

.article{
  height: 500px;
  font-size: 20px;
  margin-top: 20px;
  line-height: 30px;
  font-weight: 500;
  padding-bottom: 100px;
  white-space: pre-wrap;
}
.banner-img-one{
  width: 100%;
  height: 400px;
  background-image: url(/images/pexels-ash-376464.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.banner-img-two{
  width: 100%;
  height: 400px;
  background-image: url(/images/pexels-christina-morillo-1181359.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.banner-img-three{
  width: 100%;
  height: 400px;
  background-image: url(/images/pexels-david-bartus-586687.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.blog-section{
padding: 0 70 20 70;
}

.blog-section p{
  font-size: 20px;
  line-height: 35px;
  word-spacing: 5px;
 
}

#publish-btn {
  width: 50%;
  text-align: center;
  margin-left: 25%;
  background-color: var(--primary);
  color: white;
}